.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 24%
    right: 78%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 70%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.tarjeta-amarillo
  background: #FBEDDF

.tarjeta-rosa
  background: #FBE1E1

.cuadro-peq
  background: #E2872C

.textRed
  color: #E53935

.mr-3-custom
  margin: 1rem!important;

.mr-custom
  margin-left: 2rem!important;

.mr-custom-ri
  margin-right: 2rem!important;

.actividad-boton
  background: #A7E446

.cac
  color: #E2872C !important

.cs
  color: $color-secundario !important

.BGIMG01
  background-size: cover
  background-repeat: no-repeat
  background-position: top right

.BGIMG01
  background-image: url("../assets/curso/recursos/fondo_slider.png")


.slyder-a__btn--sigt,
.slyder-a__btn--atrs
  background-color: #E2872C
  border: 1px solid #E2872C


.acordion__accion__btn--a
  background-color: #81AF1D

.tarjeta-verde
  background: #F0FCD4


.cajon.color-secundario
  background: rgba(226, 135, 44, .12)


.referencias__item
  display: flex
  flex-direction: column

.bgt1
  background-color: #EFEFEF !important  